/* ======== RESET STYLE ======== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f5f7fa;
  color: #222;
  line-height: 1.6;
}

/* ======== HEADER & NAV ======== */
header {
  background: #2abeeb;
  color: #fff;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h3 {
  font-size: 22px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: .3s;
  
}

nav ul li a:hover {
  color: #f0f0f0;
  border-bottom: 2px solid #fff;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column; /* menu turun ke bawah */
    text-align: center;
  }
}

/* ======== HERO SECTION ======== */
.hero {
  text-align: left;
  padding: 60px 20px;
   background:
    linear-gradient(rgba(175, 217, 176, 0.8), rgba(116, 145, 224, 0.8)),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbO3o-ySPgYv2ZcK7CDr4cxFjtZZBKL7xnHCpjXM_Qz7l1O_YFZT-X1aUO&s=10") center/cover no-repeat;
  color: white;
  color: #000;
  font-size: 40px;
}

.hero h2 {
  font-size: 35px;
  margin-bottom: 12px;
  color: #000000;
}

.hero p {
  font-size: 18px;
  margin-bottom: 10px;
}

.email-box {
  display: inline-flex;
  gap: 6px;
  margin-top: 15px;
}

.email-box input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.email-box button {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background: #2abeeb;
  color: white;
  cursor: pointer;
  transition: .3s;
}

.email-box button:hover {
  background: #2abeeb;
}

/* ======== PRODUK SECTION ======== */
.produk-kami {
  padding: 50px 30px;
  text-align: center;
}

.produk-kami h2 {
  font-size: 30px;
  color: #000000;
  margin-bottom: 25px;
}

.produk-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.produk-card {
  background: #fff;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: .3s;
  text-align: center;
}

.produk-card:hover {
  transform: translateY(-6px);
}

.produk-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.produk-card a {
  text-decoration: none;
  display: block;
  color: #2abeeb;
  padding: 10px 0;
  font-weight: bold;
  font-size: 18px;
}

.produk-card a:hover {
  color: #40916c;
}

/* ======== ANALISIS SECTION ======== */
.analisis {
  padding: 50px 30px;
  background: #d8f3dc;
  text-align: center;
}

.analisis h2 {
  font-size: 30px;
  margin-bottom: 25px;
  color: #000000;
}

.analisis-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  gap: 25px;
}

.analisis-card {
  background: #fff;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  transition: .3s;
}

.analisis-card:hover {
  transform: scale(1.05);
}

.analisis-card img {
  width: 100%;
  border-radius: 10px;
  height: 140px;
  object-fit: cover;
}

.analisis-card a {
  text-decoration: none;
  color: #2abeeb;
  font-weight: bold;
  display: block;
  padding: 10px;
}

/* ======== KONTAK ========== */
.kontak {
  padding: 50px 30px;
  text-align: center;
}

.form-kontak {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  gap: 12px;
}

.form-kontak input,
.form-kontak textarea {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-kontak button {
  padding: 12px;
  border: none;
  background: #2abeeb;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.form-kontak button:hover {
  background: #40916c;
}

/* ======== ANGGOTA ======== */
.anggota {
    background-color: #41afd1;
    text-align: center;
    padding: 50px 20px;
}

.anggota h2 {
    display: inline-block;
    background-color: #196c85;
    color: white;
    padding: 10PX 30PX;
    border-radius: 3px;
    margin-bottom: 40px;
    font-size: 1.5em;
    text-align: center;
}

.Anggota-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.Anggota-card {
    background-color: #196c85;
    width: 250px;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.Anggota-card img {
    width: 100%;
    border-radius: 90px;
    margin-bottom: 25px;
}

.Anggota-card h3 {
    color: white;
    font-size: 1em;
    line-height: 1.4;
}

/* ======== FOOTER ======== */
footer {
  background: hsl(184, 79%, 54%);
  color: #fff;
  padding: 15px;
  text-align: center;
  margin-top: 30px;
}


/* ======== RESPONSIVE ======== */
@media (max-width: 600px) {
  header {
    flex-direction: column;
    gap: 10px;
  }
  nav ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .form-kontak {
    width: 95%;
  }
  .Anggota-card {
    width: 80%;
  }
}
    
